/* #region HOLDER */
/* CONFIG */
mathro-batix [data-holder] {
  --mbx-h: 300;
  --main-color: hsl(var(--mbx-h), 80%, 40%);
  --white-color: hsl(var(--mbx-h), 100%, 90%);
}

/* LAYOUT */
mathro-batix [data-holder] {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  background-color: #111;
  color: var(--main-color);
}

/* SHAPES */
mathro-batix [data-holder] {
  --curl-00: path(
    "M0 100 A10 55 0 0 1 10 45 H40 A10 45 0 0 0 50 0A10 45 0 0 0 60 45H90 A10 55 0 0 1 100 100A10 45 0 0 0 90 60 H60 A10 35 0 0 1 50 30 A10 35 0 0 1 40 60 H10 A10 45 0 0 0 0 100Z"
  );

  --curl-mask-00: path(
    "M100 100 A10 45 0 0 0 90 60 H60 A10 35 0 0 1 50 30 A10 35 0 0 1 40 60 H10 A10 45 0 0 0 0 100Z"
  );

  --cirk-02: path(
    "M25 20A25 30 0 0 0 0 50A50 50 0 0 0 50 100A50 50 0 0 0 100 50A50 50 0 0 0 50 0C-8 2 10 45 15 45C5 20 20 8 50 8A45 42 0 0 1 95 50A45 40 0 0 1 50 90A48 45 0 0 1 2 48A28 28 0 0 1 30 20Z"
  );

  --cirk-00: path(
    "M50 0A50 50 0 0 0 0 50A50 50 0 0 0 50 100A50 50 0 0 0 100 50A50 50 0 0 0 50 0ZM 20 20A33 30 330 0 0 82 80A33 30 330 0 0 20 20Z"
  );

  --cirk-mask-00: path(
    "M50 0A50 50 0 0 0 0 50A50 50 0 0 0 50 100A50 50 0 0 0 100 50A50 50 0 0 0 50 0Z"
  );
}

/* FILTERS */
mathro-batix [data-holder] {
  --viva-f1: 0 0 1px hsl(var(--mbx-h), 90%, 80%);
  --viva-f2: 0 0 2px hsl(var(--mbx-h), 100%, 58%);
  --viva-f3: 0 0 3px hsl(var(--mbx-h), 100%, 55%);
  --viva-shadow: var(--viva-f1), var(--viva-f2), var(--viva-f3);
  --viva-filter: drop-shadow(var(--viva-f1)) drop-shadow(var(--viva-f2))
    drop-shadow(var(--viva-f3));
}
/* #endregion */

/* #region batix */
b {
  box-sizing: border-box;
  margin-top: 10vh;
  position: relative;
  display: inline-block;
  font-weight: normal;
  text-wrap: nowrap;
  color: var(--main-color);

  --ani-start: 0;
  --ani-end: 1;

  --animation-range: cover
    calc(
      var(--animation-start) + (var(--animation-end) - var(--animation-start)) *
        var(--ani-start)
    )
    cover
    calc(
      var(--animation-start) + (var(--animation-end) - var(--animation-start)) *
        var(--ani-end)
    );
}
/* #endregion */

/* #region svg */
svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  overflow: visible;
}
svg > path {
  d: var(--cirk-00);
  fill-rule: evenodd;
  fill: var(--white-color);
  filter: var(--viva-filter);
}
svg > mask > path {
  d: var(--cirk-mask-00);
  fill: none;
  stroke: #fff;
  stroke-width: 40px;
  stroke-dasharray: 320px;
  stroke-dashoffset: 320px;
  animation: unmask linear forwards;
  animation-timeline: view();
  /* animation-range: var(--animation-range); */
  animation-range: cover 40% cover 70%;
}
@keyframes unmask {
  to {
    stroke-dashoffset: 0;
  }
}
/* #endregion */
